/* LOGIN-COMPONENT */

html, body {
  height: 100%;
  margin: 0;
  padding: 50px;
}

body {
  background: linear-gradient(180deg, rgba(219, 247, 255, 1) 0%, rgba(255, 238, 221, 0) 100%);
  text-align: center;
  padding: 16px;
  font-size: 15px;
} 

.container {
  max-width: 500px; 
  height: auto; 
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container > * {
  margin-bottom: 20px;
  width: 100%; 
  box-sizing: border-box; 
}

input {
  padding: 10px;
  margin: 10px;
  width: 60%; 
  max-width: 300px; 
  height: 43px;
  border-radius: 26px;
  border: 1.9px solid rgba(162, 230, 250, 1);
}

button {
  width: auto; 
  max-width: 120px; 
  height: 30px;
  color: white;
  border-radius: 20px;
  background-color: rgba(13, 58, 92, 1);
  font-weight: bold;
}
button svg {
  font-size: 1.4em; /* Ajusta el tamaño del ícono */
  vertical-align: middle; /* Centra verticalmente el ícono */
  margin-left:8px;
}

img {
  width: 70%;
  max-width: 200px; 
}

p.first-paragraph:first-of-type {
  margin-left: auto;
  margin-right: -35px;
  max-width: 80%;
  font-size: 10px;
  margin-top: -11px;
}


.second-paragraph {
  margin-top:-10px;
}

.container h1:first-of-type {
  font-weight: normal;
  font-size: 23px;
}

/* ONBOARDING-COMPONENT */

body, .on-boarding {
  background: linear-gradient(124.23deg, rgba(162, 230, 250, 1) 10.66%, rgba(152, 204, 254, 1) 30.08%);
}

.on-boarding img{
  width: 140px;
  float:left;

}

.header-container {
  display: flex;
  align-items: center;
}

.header-container button{
  width: 140px;
  max-width: unset;
  font-weight: normal;
  margin-left: auto;
  margin-right: 70px;
}


.body-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  font-size: 35px;
  width:657px;
  text-align:justify;
 
}

.body-text h2{
 
  font-size:32px;
  width:657px;
  text-align:justify;
  margin-top: 5px;
  font-weight: normal;
 }

 .body-text button {
  width: 140px;
  height: 43px;
  max-width: unset;
  font-weight: normal;
  margin-top: 20px; 
}