
html,body {
  height: 100%;
  margin: 0;
  padding: 50px;
  background-color:yellow


}

body {
  text-align: center;
  padding: 16px;

}



/* CALENDAR */

.react-calendar__tile {
  width: 28px; 
  height: 28px; 
  border-radius: 70%; 
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color:
  rgba(13, 58, 92, 1);
  font-weight: normal;
  border:1.78px solid rgba(13, 58, 92, 1);
  text-transform: lowercase; 

}
.react-calendar {
  max-width: 600px; 
}

.react-calendar__month-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuir el espacio entre los días */
}

.react-calendar__month-view__days {
  flex: 0 0 12%; 
  margin-bottom: 10px; /* Espacio inferior entre las filas de días */
}

.custom-arrow {
  background-color: yellow; /* Cambia el color de fondo de las flechas */
  color: green; /* Cambia el color del texto de las flechas */
  border-radius: 50%; /* Hace que las flechas tengan bordes redondeados */
  width: 24px; /* Ancho de las flechas */
  height: 24px; /* Altura de las flechas */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}




/* SIDEBAR: es necesario porque se repite el mismo estilo para la li*/
.sidebar-content li {   
  text-align: left;
  margin: 25px;
  padding: 8px;

}

/* BOTONES */
button{
  background-color: rgba(13, 58, 92, 1);
  color:white;
}